body {
  font-family: "Nunito", sans-serif;
}
h1 {
  font-weight: 500;
  color: #0047ab;
  margin-top: 30px;
  margin-bottom: 30px;
}
.concost {
  color: #800020;
  font-weight: 600;
}
.associates {
  color: #800020;
  font-weight: 600;
}
.inc {
  color: #800020;

  font-weight: 600;
}
body {
  background-image: url(/assets/white.webp);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  object-fit: cover;
}

p {
  color: black;
  line-height: 1.7;
  font-weight: 500;
}
