body {
  font-family: "Nunito", sans-serif;
}
h2 {
  font-weight: 400;
  color: #0047ab;
  margin-top: 10px;
  margin-bottom: 10px;
}
.concost {
  color: #0047ab;
  font-weight: 800;
}
.associates {
  color: #696969;
  font-weight: 800;
}
.inc {
  color: #696969;
  font-weight: 400;
}
body {
  background-image: url(/assets/citybuilding3.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  object-fit: cover;
}
p {
  color: black;
  line-height: 1.2;
  font-weight: 400;
}
.row {
  justify-content: center;
  text-align: center;
}
.start {
  margin-top: 10px;
}
