body {
  font-family: "Nunito", sans-serif;
}
h2 {
  font-weight: 300;
  color: #800020;
  margin-top: 10px;
  margin-bottom: 10px;
}
.concost {
  color: #800020;
  font-weight: 600;
}
.associates {
  color: #800020;
  font-weight: 600;
}
.inc {
  color: #800020;

  font-weight: 600;
}
body {
  background-image: url(/assets/white.webp);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  object-fit: cover;
}
p {
  color: black;
  line-height: 1.2;
  font-weight: 400;
}
.row {
  justify-content: center;
  text-align: center;
}
.start {
  margin-top: 10px;
}

a {
  color: #800020;
  text-decoration: none;
}
a:hover {
  color: #800020;
  text-decoration: none;
}

.nav-link {
  font-weight: 500;
}
